eureka/bin/main/com/
eureka/bin/test/
eureka/gradlew
eureka/gradlew.bat
eureka/.attach*
eureka/gradle/*
micro-config-server/gradle/*
micro-config-server/gradlew
micro-config-server/gradlew.bat
.attach*
micro-service-one/bin/main/com/
micro-service-one/bin/test/
micro-service-one/gradle/wrapper/gradle-wrapper.jar
micro-service-one/gradlew
micro-service-one/gradlew.bat

*.class
*.gradle
*.jar

micro-config-server/bin/main/META-INF/
micro-config-server/src/main/java/META-INF/
micro-gateway/gradle/
micro-gateway/gradlew
micro-gateway/gradlew.bat
micro-service-one/bin/main/META-INF/
micro-service-one/gradle/wrapper/gradle-wrapper.jar
micro-service-one/src/main/java/META-INF/
micro-service-one/gradle/wrapper/
